<link rel = "stylesheet" type="text/css" href = "css/ejercicio2.css">
<div class="card-panel fonEjercicio2 animated fadeIn">
	<h4>El punto y coma y la coma</h4>
	<p><b>Seleccione la opción correcta.</b></p>
	<hr>

	<form action="#">
		<div class="checkGroup1">
		<p>¿Cuál signo de puntuación tiene una mayor pausa?</p>
			<p>
				<input type="checkbox" id="test1"/>
				<label for="test1">La coma</label>
			</p>
			<p>
				<input type="checkbox" id="test2"/>
				<label for="test2">El punto y coma</label>
			</p>
			<p>
				<input type="checkbox" id="test3"/>
				<label for="test3">El guión</label>
			</p>

			<ul class="collection shadRed hide" id="msjIncorrecto1">
				<li class="collection-item" id="incorrecto"><h5 class="white-text">Incorecto</h5></li>
			</ul>
			<ul class="collection shadGreen hide" id="msjCorrecto1">			
				<li class="collection-item" id="correcto"><h5 class="white-text">Correcto</h5></li>
			</ul>

		</div>

			
	</form>

	<br><br>
	<form action="#">
		<div class="checkGroup2">
		<p>¿Cuál de las siguientes opciones es una regla del uso del punto y coma?</p>
			<p>
				<input type="checkbox" id="test4"/>
				<label for="test4">Se utiliza para separar los elementos de una enumeración cuando se trata de expresiones complejas.</label>
			</p>
			<p>
				<input type="checkbox" id="test5"/>
				<label for="test5">Se utiliza para separar elementos dentro de una enumeración no compleja.</label>
			</p>
			<p>
				<input type="checkbox" id="test6"/>
				<label for="test6">Las dos anteriores.</label>
			</p>

			<ul class="collection shadRed hide" id="msjIncorrecto2">
				<li class="collection-item" id="incorrecto"><h5 class="white-text">Incorecto</h5></li>
			</ul>
			<ul class="collection shadGreen hide" id="msjCorrecto2">			
				<li class="collection-item" id="correcto"><h5 class="white-text">Correcto</h5></li>
			</ul>

		</div>
	</form>

	<br><br>
	<form action="#">
		<div class="checkGroup3">
		<p>De las siguientes opciones, ¿En cuál se aplica correctamente el uso del punto y coma?</p>
			<p>
				<input type="checkbox" id="test7"/>
				<label for="test7">Todas</label>
			</p>
			<p>
				<input type="checkbox" id="test8"/>
				<label for="test8">El concierto duró más de dos horas, el público; salió agotado del estadio.</label>
			</p>
			<p>
				<input type="checkbox" id="test9"/>
				<label for="test9">El concierto duró más de dos horas; el público salió agotado del estadio.</label>
			</p>

			<ul class="collection shadRed hide" id="msjIncorrecto3">
				<li class="collection-item" id="incorrecto"><h5 class="white-text">Incorecto</h5></li>
			</ul>
			<ul class="collection shadGreen hide" id="msjCorrecto3">
				<li class="collection-item" id="correcto"><h5 class="white-text">Correcto</h5></li>
			</ul>

		</div>
	</form>

	<br><br>
	<form action="#">
		<div class="checkGroup4">
		<p>¿Cuál de las siguientes opciones es una regla del uso de la coma?</p>
			<p>
				<input type="checkbox" id="test10"/>
				<label for="test10">Se utiliza para separar los decimales en expresiones numéricas.</label>
			</p>
			<p>
				<input type="checkbox" id="test11"/>
				<label for="test11">Se utiliza para separar los millares en expresiones numéricas.</label>
			</p>
			<p>
				<input type="checkbox" id="test12"/>
				<label for="test12">En ninguna de las anteriores.</label>
			</p>

			<ul class="collection shadRed hide" id="msjIncorrecto4">
				<li class="collection-item" id="incorrecto"><h5 class="white-text">Incorecto</h5></li>
			</ul>
			<ul class="collection shadGreen hide" id="msjCorrecto4">			
				<li class="collection-item" id="correcto"><h5 class="white-text">Correcto</h5></li>
			</ul>

		</div>
	</form>

	<br><br>
	<form action="#">
		<div class="checkGroup5">
		<p>Seleccione la opción que muestra un ejemplo correcto del uso de la coma.</p>
			<p>
				<input type="checkbox" id="test13"/>
				<label for="test13">Pero, ¿compraste el regalo?</label>
			</p>
			<p>
				<input type="checkbox" id="test14"/>
				<label for="test14">Pero, ¡qué valiente que eres!</label>
			</p>
			<p>
				<input type="checkbox" id="test15"/>
				<label for="test15">Pero ¡qué valiente que eres!</label>
			</p>

			
		</div>
			<ul class="collection shadRed hide" id="msjIncorrecto5">
				<li class="collection-item" id="incorrecto"><h5 class="white-text">Incorecto</h5></li>
			</ul>
			<ul class="collection shadGreen hide" id="msjCorrecto5">			
				<li class="collection-item" id="correcto"><h5 class="white-text">Correcto</h5></li>
			</ul>
	</form>
	<br>
	
	<div class="center-align" id="jugar">
		<button class="btn green lighten-1 waves-effect waves-light" id="evaluar">Evaluar</button>
	</div>
	<div class="center-align hide" id="vuelveJugar">
		<button class="btn green lighten-1 waves-effect waves-light" id="reiniciar">Reiniciar</button>
	</div>

</div>

<script src = "js/ejercicio2.js"></script>