<script src="js/ejercicio1.js"></script>
<div class="card-panel fonEjercicio1 animated fadeIn">
  <h4>La coma</h4>
  <p>Seleccione la opción que muestra la regla correcta del uso de la coma.</p>
  <div class="row" id="ejercicio1">
    <div class="preguntas">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <span id="opcion01" class="white-text"></span>
        </div>
        <!-- Div del botón check -->
        <div class="center-align">
          <button id="check01" correcto="false" class="waves-effect waves-light green accent-4 btn btnRespuesta" type="button" name="opcion1"><i class="fa fa-check"></i></button>
        </div>
        <!-- Div del botón check -->
      </div>

      <div class="col s12 m6">
        <div class="card-panel teal">
          <span id="opcion02" class="white-text"></span>
        </div>
        <!-- Div del botón check -->
        <div class="center-align">
          <button id="check02" correcto="false" class="waves-effect waves-light green accent-4 btn btnRespuesta" type="button" name="opcion1"><i class="fa fa-check"></i></button>
        </div>
        <!-- Div del botón check -->
      </div>
    </div>

    <div class="col s12 hide" id="practicaFinalizada">
      <h4 class="center-align">Práctica finalizada.</h4>
      <h5 class="center-align" id="puntaje"></h5>
      <div class="center-align">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <br>
        <br>
        <button class="waves-effect waves-light green accent-4 btn" id="reiniciar" type="button">Reinicar</button>
      </div>
    </div>

  </div>
</div>
