<link rel="stylesheet" type="text/css" href="css/teoria.css">
<div class="card-panel white animated fadeIn contenedor">
	<h4 class="center-align animated fadeInDown" id="titulo">La coma</h4>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Adjetivos explicativos pospuestos al sustantivo u oraciones adjetivas explicativas:</b></h5>
			<p class="">Se utilizan para explicar el porqué, el cómo o el que de una persona, situación u objeto. Ejemplo: Mi cuarto, que está muy desordenado, es el del fondo.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Aposiciones explicativas:</b></h5>
			<p class="center-align">Ejemplo: En ese momento Juan, mi compañero, habló muy fuerte.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Expresiones u oraciones de carácter accesorio:</b></h5>
			<p class="">Para separar expresiones u oraciones de tipo accesorio, que no se vinculan con los elementos del enunciado. Ejemplo: Llegó a las 4 a.m, ¡apenas para no dejarla entrar!, borracha y sin poder caminar.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Cualquier otra clase de comentario, explicación o precisión a algo dicho:</b></h5>
			<p class="center-align">Para separar comentarios, explicaciones o para darle precisión a algo dicho. Ejemplo: Cada compañero, hasta el que nunca habla, estaban haciendo una fiesta en clases.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se utiliza para separar elementos dentro de una enumeración:</b></h5>
			<p class="">Ejemplo: tengo pizza, hamburguesas, tacos, burritos y pollo frito. Si la enumeración es completa o exhaustiva lleva una conjunción (y, e, o, u, ni), ántes del último elemento. En cambio si la enumeración es incompleta y se utilizan sólo algunos elementos, no se escribe conjunción antes del último elemento si no, una coma, esta enumeración se puede cerrar con puntos suspensivos o con etcétera (etc).</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se separan con coma los miembros gramaticalmente equivalentes dentro de un mismo enunciado y al igual que el caso anterior se pueden usar conjunciones al final:</b></h5>
			<p class="center-align">Ejemplo: Apaga las luces, cierra el grifo, camina hacia afuera y cierra la puerta.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Los sustantivos que funcionan como vocativos (los vocativos se utilizan para llamar o nombrar al interlocutor) se aíslan entre comas:</b></h5>
			<p class="center-align">Ejemplo: Vengan a almorzar, hijos.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se escriben entre comas las interjecciones o locuciones interjectivas:</b></h5>
			<p class="center-align">Las interjecciones son expresiones fuertes por ejemplo de asombro, alegría, admiración, saludo, etc. Ejemplo: ¡ay!, eso me dolió.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se escribe con coma para separar el sujeto de los complementos verbales cuando el elemento ha sido mencionado con anterioridad:</b></h5>
			<p class="center-align">Ejemplo: Los que no están en la lista, se deben devolver.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se escribe coma delante de las oraciones o elementos coordinados encabezados por adverbios que funcionan como conjunciones distributivas:</b></h5>
			<p class="center-align">Lo hacemos, bien aquí, bien allá.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se recomienda escribir coma delante de excepto, salvo y menos:</b></h5>
			<p class="center-align">Ejemplo: Estoy harto de todos, excepto de tí.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se escribe coma delante conjunciones como pero, mas, aunque, sino y delante de oraciones consecutivas introducidas por conque, así que, de manera que, etc:</b></h5>
			<p class="center-align">Ejemplo: Te dije q iba a estar contigo, así que, aquí me tienes.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se utiliza la coma para separar los 2 términos de la construcción copulativa intensiva no solo …, si no también:</b></h5>
			<p class="center-align">Ejemplo: No solo me engañaste a mi, si no también a ella.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se escribe coma después de distintos enlaces como por ejemplo: esto es, es decir, a saber, pues bien, ahora bien, en primer lugar, por un/otro lado, por una/otra parte, en fin, por último, además, con todo, en tal caso, sin embargo, no obstante, por el contrario, en cambio y otros. También se utiliza la coma detrás de adverbios o locuciones adverbiales, siempre y cuando estos modifiquen a toda la oración y no solo a uno de sus elementos, por ejemplo: efectivamente, generalmente, naturalmente, por regla general, etc. Si estas palabras van medio de la oración se escribe entre comas:</b></h5>
			<p class="center-align">Ejemplo: Los bananos y las peras son frutas, en cambio, la zanahoria y el brócoli son hortalizas.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se escribe con coma antes de los complementos encabezados por locuciones preposicionales de valor introductorio, condicional, concesivo, final, causal, etc del tipo en cuanto a, respecto de, con respecto a, en relación con, con referencia a, a tenor de, en ese caso, a pesar de todo, para eso, etc:</b></h5>
			<p class="center-align">Ejemplo: Para eso, mejor me hubiera quedado en la casa.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se pone coma antes de una palabra que se repite para dar una explicación sobre ella:</b></h5>
			<p class="center-align">Ejemplo: Ayer nació el bebé del vecino, bebé que, murió hoy en la mañana.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>La palabra etcétera se separa del resto del enunciado con coma:</b></h5>
			<p class="center-align">Ejemplo: Recuerda llevar camisas, pantalones, ropa interior, etcétera, al paseo familiar.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Cuando se menciona un sobrenombre seguido del nombre, este debe escribirse entre comas:</b></h5>
			<p class="center-align">Ejemplo: Se recordó hoy la muerte de Manuel Loureiro, Mani.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se recomienda escribir el nombre del autor entre comas cuando es mencionado:</b></h5>
			<p class="center-align">Ejemplo: En su novela, Paulo Coelho, menciona…</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>En la redacción de cartas se escribe coma entre el lugar y la fecha o entre el día de la semana y el del mes:</b></h5>
			<p class="center-align">Ejemplos: 1- San Ramón, 02 de Enero del 2016.<br>
				2- Martes, 02 de Enero del 2016.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>En las direcciones, se escribe coma entre el nombre de la calle y el número del inmueble:</b></h5>
			<p class="center-align">Ejemplo: Calle de Pontevedra, 25; Avenida de la embajada, número 5.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se separan con comas el nombre de una colección y el número del volumen correspondiente:</b></h5>
			<p class="center-align">Ejemplo: Apocalipsis Z, 1.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se separa con coma los componentes de un nombre o expresión cuando para ser integrados en una lista alfabética se alteró el orden de sus elementos:</b></h5>
			<p class="center-align">Ejemplo: Guerrero, Ignacio: Multimedia.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Para distinguir entre sentidos posibles de un mismo enunciado:</b></h5>
			<p class="center-align">Ejemplo: Ya comí, como usted me indicó (me indicó que comiera) <br> Ya comí como usted me indicó (Me indicó cómo debía comer).</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>En una lista de elementos complejos que se separan unos de otros por punto y coma, se debe utilizar la coma delante de la conjunción que introduce el último de estos elementos:</b></h5>
			<p class="center-align">Ejemplo: El microondas está sobre el desayunador; el televisor, sobre el sillón; los platos, en el armario.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se escribe la coma delante de las conjunciones cuando la secuencia enlaza todo el predicado anterior:</b></h5>
			<p class="center-align">Ejemplo: Buscó un pantalón, una camisa y unas medias, se bañó, y se fue para la fiesta.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Si se enlazan miembros que sean equivalentes gramaticalmente dentro de un mismo enunciado, si el último no indica una conclusión o una consecuencia, se escribe coma delante de la conjunción:</b></h5>
			<p class="center-align">Ejemplo: Pintaron las paredes de la habitación, cambiaron la disposición de los muebles, pusieron alfombras nuevas, y quedaron encantados con el resultado.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se coloca como delante de la conjunción de oraciones coordinadas cuando la primer oración es extensa y principalmente cuando tienen sujetos distintos:</b></h5>
			<p class="center-align">Ejemplo: El candidato se levantaba temprano para ir a caminar y respirar aire fresco, mientras su guardaespaldas le seguía discretamente desde un automóvil.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se coloca coma antes de la conjunción “y” cuando esta tiene valor adversativo (es equivalente a “pero”):</b></h5>
			<p class="center-align">Ejemplo: El médico le recomendó que dejara de tomar Coca Cola, y ella siguió tomando.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se debe escribir coma delante o detrás de las conjunciones si inmediatamente antes o después hay un inciso que se deba aislar por comas:</b></h5>
			<p class="center-align">Ejemplo: Si quieres puedes hacer el pedido con nosotros, o hacerlo por separado la siguiente semana.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>No se debe escribir coma entre el sujeto y el verbo de la oración, aunque el verbo esté compuesto por varios elementos separados por coma:</b></h5>
			<p class="center-align">Ejemplo: Las manzanas, las peras, los bananos son frutas.
<br><b>Excepción 1:</b> Si el sujeto es una enumeración y esta se cierra con etcétera o su abreviatura “etc”:
<br><b>Ejemplo:</b> Mis padres, mis hermanos, mis tíos, etc., me felicitaron la semana pasada.
<br><b>Excepción 2:</b> Cuando inmediatamente después del sujeto comienza un inciso o cuando aparece cualquiera de los elementos que se deben aislar por comas del resto del enunciado:
	<br><b>Ejemplo:</b> Mi abuelo, como todos saben, le gusta mucho escribir poesía.</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>No se debe escribir coma después de la conjunción “que” cuando esta obtiene un sentido consecutivo y cuando antes de esta conjunción se escribe o no “tan” o “tal”:</b></h5>
			<p class="center-align">Ejemplo: El problema era tan grande que ya no se podía seguir evitando.</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>No se escribe coma después de “pero”, cuando va antes de una oración exclamativa o interrogativa:</b></h5>
			<p class="center-align">Ejemplo: Pero ¿dónde escondiste la droga?
		     <br>Pero ¡qué valiente que eres!</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>No se debe usar la coma después del saludo en cartas y documentos:</b></h5>
			<p class="center-align"><b>Ejemplo incorrecto:</b> Buenas tardes, le escribo para comunicarle que…
	<br><b>Ejemplo correcto:</b> Buenas tardes: le escribo para comunicarle que…</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>En expresiones numéricas se utiliza la coma para separar la parte entera de la parte decimal:</b></h5>
			<p class="center-align">Ejemplos: 20,90 
		       <br>1.200,37</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b></b></h5>
			<p class="center-align"></p>
		</div>
	</div>
	<br><br>
	<h4 class="center-align wow animated fadeInDown" id="titulo">El punto y coma</h4>
	
	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Para separar los elementos de una enumeración cuando se trata de expresiones complejas que incluyen comas:</b></h5>
			<p class="center-align">Ejemplo:
				Los que viajaron a Francia son: el presidente, Carlos; la tesorera, Roberta; el vocal, Rodrigo; y el fiscal, Fernando.
			</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Para separar oraciones sintácticamente independientes entre las que existe una estrecha relación semántica:</b></h5>
			<p class="center-align">Ejemplo:
				El concierto duró más de dos horas; el público salió agotado del estadio.
				<br><b>Nota:</b> En estos casos se podría utilizar también el punto y seguido. La elección de cuál signo de puntuación utilizar depende de qué tan fuerte es la relación semántica entre ambas oraciones. Si la relación no es tan fuerte se puede usar el punto y seguido pero si la relación es fuerte se utiliza el punto y coma.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="section white col s12 m6 wow fadeInLeft">
			<h5 class="center-align"><b>Se escribe punto y coma delante de conectores de sentido adversativo, concesivo o consecutivo, como pero, mas, aunque, sin embargo, por tanto, por consiguiente, etc., cuando las oraciones que encabezan tienen cierta longitud:</b></h5>
			<p class="center-align">Ejemplo:
				Los estudiantes estudiaron toda la noche; sin embargo, no obtuvieron la nota esperada.
				<br>
				<b>Nota:</b> Si el período encabezado por la conjunción es corto, se usa la coma; y si tiene una extensión considerable, es mejor utilizar el punto y seguido:
				<br>
				Ejemplos:
				<br>
				1- Dice la verdad, aunque no le creas.
				<br>
				2- Muchos conductores no respetan las señales de tránsito mientras conducen y alcanzan altas velocidades. Por consiguiente, ocurren muchos accidentes en las carreteras y mueren personas.
			</p>
		</div>
		<div class="section white col s12 m6 wow fadeInRight">
			<h5 class="center-align"><b>Se pone punto y coma detrás de cada uno de los elementos de una lista o relación cuando se escriben en líneas independientes y se inician con minúscula, salvo detrás del último, que se cierra con punto:</b></h5>
			<p class="center-align">Ejemplo:
			<br>
				1- Nombres de bandas:
			<br>
				Nightwish (Metal sinfónico);
			<br>
				Lost Society (Thrash Metal);
			<br>
				Children of Bodom (Death Metal).

			</p>
		</div>
	</div>
	<br><br>
	<h4 class="center-align" id="titulo">Fuentes:</h4>
	
	<ul>
		<li>Real Academia Española. (2005). Punto y Coma. 25 de octubre del 2016, de Real Academia Española Sitio web: <a href="http://lema.rae.es/dpd/srv/search?id=XAD3nkRJmD6NjdyDQ0" target="_blank">http://lema.rae.es/dpd/srv/search?id=XAD3nkRJmD6NjdyDQ0</a></li>
		<li>Real Academia Española. (2005). La Coma. 28 de octubre del 2016, de Real Academia Española Sitio web: <a href="http://lema.rae.es/dpd/srv/search?id=V1EqcYbX4D61AWBBrd" target="_blank">http://lema.rae.es/dpd/srv/search?id=V1EqcYbX4D61AWBBrd</a></li>
	</ul>
	
</div>
<script src = "js/wow.js"></script>
<script>
	new WOW().init();
</script>
